# IMPORTANT: Please copy this to `.env.local` and do not overwrite this file

OPENAI_API_KEY=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET_TOKEN=""
TELEGRAM_ALLOWED_USER_IDS=""

DATABASE_URL=""

QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""

OPENWEATHER_API_KEY=""
